.container-fluid {
  background-image: url("https://images.unsplash.com/photo-1540202403-b7abd6747a18?ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80")
}
h2 {
  color: green;
}
.form-group {
  margin-left: 100px;
}
.but {
  margin-left: 150px;
}
