<!DOCTYPE html>
<html>

<head>
  <title>quotes</title>
</head>

<body>
  <div class="container">
    <i>"A man is but the product of his thoughts; what he thinks, he becomes".<br>
      <b>By:</b>Mohandas Karamchand Gandhi</i>
    <div class="row">
      <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="well">

          <div class="form-group">
            <label for="name"><b>Your Name</b></label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" placeholder="Your name">
          </div>

          <div class="form-group">
            <label for="author"><b>Author</b></label>
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" placeholder="Author name" >
          </div>

          <div class="form-group">
            <label for="Quote"><b>Quote</b></label>
            <textarea class="form-control" id="Quote" rows="4" required [(ngModel)]="newQuote.quote" name="quote" placeholder="Write Quote"></textarea>
          </div>

          <button type="submit" class="btn btn-success bt-lg">Add Quote</button>
        </div>
      </form>
    </div>
  </div>
</body>
